[Desktop Entry]
Encoding=UTF-8
Name=Link to Inf1 OP Lab
Type=Link
URL=http://www.inf.ed.ac.uk/teaching/courses/inf1/op/2019/labs/index.html
Icon=text-html
